html, body {
    overflow-x: hidden !important;
    position: relative !important;
}

#formwrapper {
	position: relative;
}

#feilmelding {
	text-align: center;
	padding-top: 15px;
	margin-top: 20px;
	background-color: #FD7265;
	width: 383px;
	height: 35px;
	margin-right: auto;
	margin-left: auto;
	font-family: Verdana;
}

#greenmessage {
	text-align: center;
	padding-top: 15px;
	margin-top: 20px;
	background-color: #63CAA6;
	width: 383px;
	height: 35px;
	margin-right: auto;
	margin-left: auto;
	font-family: Verdana;
}

#calendar {
	text-align: center;
}

#logout {
	text-align: center;
}


/*header and footer*/

.mainlogo {
	height: 80px;
	width: auto;
	margin-right: auto;
	margin-left: auto;
	display: block;
}

#mainlogotop {
	margin-top: 30px;
}

#footerpic {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

/*Page 1 classes*/
.bruker {
	font-size: 18px;
	font-family: Verdana;
	text-align: left;
} 


.brukerinput {
	width: 377px;
	height: 46px;
	border: solid 3px #010101;
	background-color: transparent;
	text-align: center;
}
.brukerinput[type="email"] {
	font-size: 18px;
	font-family: Verdana;
}

.brukerinput[type="password"] {
	font-size: 18px;
	font-family: verdana;
}

/*Page 1 id's*/

#textlogo {
	height: 80px;
	width: auto;
	margin-right: auto;
	margin-left: auto;
	display: block;
}

#innloggingsform {
	margin-top: 100px;
	width: 383px;
	margin-left: auto;
	margin-right: auto;
}


#submit {
	margin-top: 20px;
	background-color: transparent;
	height: 46px;
	width: 120px;
	border: solid 3px black;
	font-size: 18px;
	font-family: Verdana;
	-webkit-transition: background-color 0.5s, color 0.5s;
	position: relative;
	right: 0px;

}


#submit:hover {
	background-color: #101010;
	color: white;
}

#page1bot{
	margin-top: 180px;
}

/*Page 2 classes*/
.mainbox2 {
	margin-left: auto;
	margin-right: auto;
	height: 70px;
	width: 500px;
}

/*Page 2 id's*/
a {
	text-decoration: none;
}

#firstbox {

	margin-top: 75px;
	text-align: center;
	padding-top: 10px
}

#textbox {
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
	background-color: transparent;
	color: black;
	-webkit-transition: color 0.5s, border-color 0.5s;

}

#innerbox:hover {
	color: white;
	border-color: white;
}

ul {
	list-style-type: none;
}

#open {
	width: 500px;
	height: 0px;
	margin-right: auto;
	margin-left: auto;
	background-color: white;
	text-align: center;
	-webkit-transition: height 1s;
}

#close {
	visibility: hidden;
	-webkit-transition: visibility 1s;
}
#open:target {
	height: 240px;
}

#open:target #close {
	visibility: visible;
}

:target #open {
	height: 0px;
}

#botbox {
	position: relative;
}

#secondbox {
	margin-top: 90px;
	height: 20px;
	width: 500px;
	border-top: 3px solid black;
	margin-left: auto;
	margin-right: auto;
}

#secondboxbot {
	height: 0;
	width: 500px;
	border-bottom: 3px solid black;
	margin-right: auto;
	margin-left: auto;'
	position: relative;
}

#rooms {
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	height: 0;
	visibility: hidden;
	text-align: center;
	transition: 1s;
}

#rooms:target {
	visibility: visible;
	height: 400px;
}