.bruker {
	font-size: 18px;
	font-family: Verdana;
} 

.innloggingsliste {
	list-style: none;
}

.brukerdiv {
	display: block;
}

.brukerinput {
	width: 377px;
	height: 46px;
	border: solid 3px #010101;
	background-color: transparent;
}
.brukerinput[type="text"] {
	font-size: 18px;
	font-family: Verdana;
}

.mainlogo {
	height: 80px;
	width: auto;
	margin-right: auto;
	margin-left: auto;
	display: block;
}

#mainlogotop {
	margin-top: 30px;
}

#footerpic {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#textlogo {
	height: 80px;
	width: auto;
	margin-right: auto;
	margin-left: auto;
	display: block;
}

#innloggingwrapper {
	width: 422px;
	margin-left: -220px;
	background-color: transparent;

}

#innloggingsform {
	margin-left: 50%;
	margin-top: 100px;
}

#submit {
	margin-top: 20px;
	background-color: transparent;
	box-shadow: 0 0 0 transparent;
	height: 46px;
	width: 120px;
	border: solid 3px black;
	font-size: 18px;
	font-family: Verdana;
	-webkit-transition: 0.5s;
}
#submitdiv {
	text-align: right;
}

#page1bot{
	margin-top: 300px;
}

#submit:hover {
	background-color: #101010;
	color: white;
}
