html {
	overflow-y: scroll;
	overflow-x: hidden;
}


/*header and footer*/

.mainlogo {
	height: 80px;
	width: auto;
	margin-right: auto;
	margin-left: auto;
	display: block;
}

#mainlogotop {
	margin-top: 30px;
}

#footerpic {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

/*Page 1 classes*/
.bruker {
	font-size: 18px;
	font-family: Verdana;
	text-align: left;
} 


.brukerinput {
	width: 377px;
	height: 46px;
	border: solid 3px #010101;
	background-color: transparent;
	text-align: center;
}
.brukerinput[type="email"] {
	font-size: 18px;
	font-family: Verdana;
}

.brukerinput[type="password"] {
	font-size: 18px;
	font-family: verdana;
}

/*Page 1 id's*/

#textlogo {
	height: 80px;
	width: auto;
	margin-right: auto;
	margin-left: auto;
	display: block;
}

#innloggingsform {
	margin-top: 100px;
	width: 383px;
	margin-left: auto;
	margin-right: auto;
}


#submit {
	margin-top: 20px;
	background-color: transparent;
	height: 46px;
	width: 120px;
	border: solid 3px black;
	font-size: 18px;
	font-family: Verdana;
	-webkit-transition: background-color 0.5s, color 0.5s;
}
#submitdiv {
	text-align: right;
}

#submit:hover {
	background-color: #101010;
	color: white;
}

#page1bot{
	margin-top: 180px;
}

/*Page 2 classes*/

/*Page 2 id's*/
a {
	text-decoration: none;
}

#mainbox {
	height: 70px;
	width: 500px;
	margin-top: 75px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-top: 10px
}

#innerbox {
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
	background-color: transparent;
	color: black;
	-webkit-transition: color 0.5s, border-color 0.5s;

}

#innerbox:hover {
	color: white;
	border-color: white;
}